/*CSSリセット*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #f4f4f4;
  line-height: 1.6;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body img {
  pointer-events: none;
}

/* ヘッダー */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background: #ffaec9;
  z-index: 1000;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* 非表示時のアニメーション */
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

#header.hide-header {
  transform: translateY(-150%);
}

#header .logo {
  height: 50px;
  width: auto;
}

#header .header-title {
  display: inline-block;
}

#header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: url(https://simulation-ryo.github.io/simulation/vote/img/triangle.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 1;
}

.header-img-container {
  text-align: center;
}

.header-img {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

/* グローバルナビゲーション */
.g-nav {
  position: relative;
  margin-top: 0;
  background-color: #ffaec9;
}

.g-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.g-nav li {
  margin: 0 10px;
}

.g-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.g-nav_icon img {
  margin-top: 10px;
  max-width: 32px;
  max-height: 32px;
}

/* タブレットorPC (min-width: 768px) */
@media (min-width: 768px) {
  .header {
    height: 80px;
    padding: 15px 50px;
  }
}
